asttokens==2.0.8
backcall==0.2.0
colorama==0.4.5
decorator==5.1.1
executing==0.10.0
inputs==0.5
ipython==8.4.0
jedi==0.18.1
loguru==0.6.0
matplotlib-inline==0.1.5
numpy==1.23.2
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.30
pure-eval==0.2.2
Pygments==2.13.0
pyserial==3.5
six==1.16.0
stack-data==0.4.0
traitlets==5.3.0
wcwidth==0.2.5
win32-setctime==1.1.0
